@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

.web {
    font-family: 'Titillium Web', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}



* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1920px;
    height: 0 auto;
}

.heading {
    position: absolute;
    width: 1920px;
    height: 72px;
}
.logotypy {
    width: 121px;
    height: 14px;
    position: relative;
    top: 29.02px;
    left: 435px;
    margin-right: 0px;
}

.block_menu {
    
    width: 370px;
    height: 20px;
}


.link {
    color: #666666;
    text-decoration: none;
    font-size: 16px;
    transition: all .2s;
    padding-bottom: 0px;
    border-bottom: 1px solid transparent;
}
.link:hover {
    border-bottom: 1px solid #0852da;
}

.link:active {
    color: #0852da;
    border-bottom: 1px solid #0852da;
}

.first__nav ul {
    list-style: none;
    
}

.first__nav ul li {
    display: inline-block;
    margin-right: 30px;
}
.first__nav {
    position: relative;
    left: 670px;
    top: -21px;
}

.first__nav ul li:last-of-type {
    margin-right: 0px;
}



/*второй блок*/

.block-2 {
    position: absolute;
    width: 1125px;
    height: 600px;
    top: 72px;
    left: 22.66%;
}
.img-1 {
    background-image: none;
    float: left;
}

.block_left {
    width: 525px;
    float: left;
}
.block_left h1 {
    font-size: 48px;
    color: #4A4A4A;
}
.block_left{
    font-size: 18px;
    color: #4A4A4A;
}
.block_left h1{
    margin-top: 120px;
}
.block_left p {
    margin-top: 20px;
}

.block-3 {
    position: absolute;
    width: 1068px;
    height: 589px;
    top: 680px;
    left: 19.27%;
}
.img-3 {
    width: 590px;
    height: 590px;
}
.img-3:last-of-type{
    right: 0px;
}
.block_right-3 {
    width: 525px;
    height: 590px;
    float: left;
}






.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}

